{% extends 'registration/base_registration.html' %}

{%block mainsection %}
<div class="Article user_form">
    <div class="ArticleHeader">
        <h4>Changement de Password</h4>
    </div>
    <div class="ArticleContent">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit" class="comment-btn mdi mdi-account-key-outline">Changer</button>
        </form>
    </div>
    <div class="ArticleFooter">
        <a class="comment-btn mdi mdi-arrow-left-circle-outline" href="{% url 'profile' %}">Retour</a>
    </div>
</div>
{% endblock %}