{% extends 'registration/base_registration.html' %}

{% block mainsection %}
<div class="reg-card">
    <div class="reg-card-title">
        <h4>Réinitialisation du Mot de passe</h4>
    </div>
    <div class="reg-card-body">
        <p>Veuillez entrer votre courriel.</p>
        <p>Un lien sera envoyé pour réinitialiser votre mot de passe.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit" class="userbtn mdi mdi-email-send-outline">Envoyer</button>
        </form>
    </div>
    <div class="reg-card-footer">
        <a class="userbtn mdi mdi-arrow-left-circle-outline" href="{% url 'login' %}">Retour</a>
    </div>
</div>
{% endblock %}
