<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://drone.argawaen.net/static/css/default.css">
    <style>.Article a{color:#fcd649}</style>
</head>
<body>
<section class="top-section"></section>
<section class="main-section">
<div class="Article user_form">
    <div class="ArticleHeader"><h4>Demande de réinitialisation de mot de passe</h4></div>
    <div class="ArticleContent user_form">
        <p>Vous recevez ce courriel car vous avez demandé une réinitialisation de votre mot de passe.</p>
        <p>Si vous n’êtes pas à l’origine de cette action, ignorez ce message.</p>
        <p>Veuillez suivre ce
            <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">[lien]</a>
            pour accéder à la page vous permettant de définir un nouveau mot de passe</p>
        <p>en cas d'oubli, voici votre login: {{ user.get_username }}</p>
    </div>
    <p>Merci d'utiliser notre site!</p>
    <div class="ArticleFooter">
        <p>L’équipe de <a href="{{ protocol }}://{{ domain }}">https://drone.argawaen.net</a>.</p>
    </div>
</div>
</section>
</body>
</html>