{% extends 'registration/base_registration.html' %}

{%block mainsection %}
<div class="Article user_form">
    <div class="ArticleHeader">
        <h4>Réinitialisation de mot de passe</h4>
    </div>
    <div class="ArticleContent">
        <p>Saisissez deux fois votre nouveau mot de passe afin de vérifier qu’il est correctement saisi.</p>
        <form method="post">{% csrf_token %}
            <p>{{ form.new_password1.errors }}
                <label for="id_new_password1">Nouveau mot de passe: </label>
                {{ form.new_password1 }}</p>
            <p>{{ form.new_password2.errors }}
                <label for="id_new_password2">Confirmation: </label>
                {{ form.new_password2 }}</p>
            <button id="submit" class="comment-btn mdi mdi-account-key-outline">Modifier mot de passe</button>
        </form>
    </div>
    <div class="ArticleFooter">
        <a class="comment-btn mdi mdi-arrow-left-circle-outline" href="{% url 'profile' %}">Retour</a>
    </div>
</div>
{% endblock %}