{% extends 'registration/base_registration.html' %}

{% block mainsection %}
<div class="reg-card">
    <div class="reg-card-title">
        <h4>Réinitialisation du Mot de passe</h4>
    </div>
    <div class="reg-card-body">
        <h5>Mise à jour du mot de passe terminée</h5>
        <p>Votre mot de passe a été défini. Vous pouvez maintenant vous authentifier.</p>
    </div>
    <div class="reg-card-footer">
        <a class="userbtn mdi mdi-login" href="{% url 'login' %}">Connexion</a>
    </div>
</div>
{% endblock %}
