{% extends 'registration/base_registration.html' %}

{%block mainsection %}
<div class="Article user_form">
    <div class="ArticleHeader">
        <h4>Réinitialisation du Mot de passe</h4>
    </div>
    <div class="ArticleContent">
        <p>Veuillez entrer votre courriel.</p>
        <p>Un lien sera envoyé pour réinitialiser votre mot de passe.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="submit" class="comment-btn mdi mdi-email-send-outline">Envoyer</button>
        </form>
    </div>
    <div class="ArticleFooter">
        <a class="comment-btn mdi mdi-arrow-left-circle-outline" href="{% url 'login' %}">Retour</a>
    </div>
</div>
{% endblock %}