{% extends 'registration/base_registration.html' %}

{%block mainsection %}
<div class="Article user_form">
    <div class="ArticleHeader">
        <h4>Réinitialisation du Mot de passe</h4>
    </div>
    <div class="ArticleContent">
        <h5>Mise à jour du mot de passe terminée</h5>
        <p>Votre mot de passe a été défini. Vous pouvez maintenant vous authentifier.</p>
    </div>
    <div class="ArticleFooter">
        <a class="comment-btn mdi mdi-login" href="{% url 'login' %}">Connexion</a>
    </div>
</div>
{% endblock %}