{% load static template_extra %}
<html lang="fr">
<head>
    <title>{% block title %}Potager de Lachouette{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Argawaen">
    <meta name="description" content="le contenu">
    <link rel="shortcut icon" href="{% static 'img/favicon_potager.ico' %}"/>
    <meta name="keywords" content="FUCK!!">
    <!-- feuille de style -->
    <link rel="stylesheet" href="{% static 'css/default_potager.css' %}">
    <link rel="stylesheet" href="{% static 'css/potager.css' %}">
    {%block additionnalhead %}
    {%endblock%}
</head>
<body>
<header class="header-section">
	<nav class="navbar container-fluid">
		<a class="site-logo" href="/">
			<img alt="logo" src="{% static 'img/potager/logo_small.png' %}"><h3>Potager de Lachouette</h3>
		</a>
		<div class="user_info">
			{% if user.is_authenticated %}
				<a class="comment-btn mdi mdi-account-circle" href="{% url 'profile' %}">{{ user.username }}</a>:
				<a class="comment-btn mdi mdi-logout" href="{% url 'logout' %}">Logout</a>
			{% else %}
				<a class="comment-btn mdi mdi-login" href="{% url 'login' %}">Login</a>
			{% endif %}
		</div>
		<div class="navbarbar">
			<ul class="navbar-nav">
				<li class="nav-item {% if page == 'plan' %}current{% endif %}" >
					<a href="{% url 'potager' %}"><span class="mdi mdi-map-outline">Plan</span></a></li>
				<li class="nav-item {% if page == 'semence' %}current{% endif %}" >
					<a href="{% url 'potager_plant' %}"><span class="mdi mdi-seed-outline">Semences</span></a></li>
			</ul>
		</div>
	</nav>
</header>
<section class="top-section">
	{%block topsection %}
	{%endblock%}
</section>
<section class="main-section">
	{%block mainsection %}
	{%endblock%}
</section>
{%block additionnalsection %}
{%endblock%}
<footer class="footer-section">
	<p>&copy; Designed by Argawaen, all rights reserved.
		The site design, the logo are trademarks and/or registered trademarks of Argawaen.</p>
	{% if user.is_staff %}<a class="comment-btn mdi mdi-account-hard-hat" href="/admin">admin</a>{% endif %}
</footer>
</body>
</html>
