{% extends "www/base.html" %}
{% block content %}
<div class="static-page publications-page">
    <h2>Publications</h2>

    <section class="cv-section">
        <h3 class="mdi mdi-book-education"> Thèse de doctorat</h3>

        <div class="pub-entry pub-thesis">
            <span class="pub-icon mdi mdi-book-education"></span>
            <div class="pub-body">
                <p class="pub-ref">
                    D. Lachouette,
                    <em>Modélisation d'une interface fluide/solide avec érosion, application à l'érosion interne</em>,
                    Thèse de doctorat, <a href="https://www.univ-tln.fr/" target="_blank">Université du Sud Toulon-Var</a>, 2009.
                </p>
                <div class="pub-links">
                    <a class="pub-link" href="https://theses.hal.science/tel-00643226" target="_blank"><span class="mdi mdi-open-in-new"></span> HAL</a>
                </div>
            </div>
        </div>
    </section>

    <section class="cv-section">
        <h3 class="mdi mdi-file-document"> Articles dans des revues à comité de lecture</h3>

        <div class="pub-entry pub-journal">
            <span class="pub-icon mdi mdi-file-document"></span>
            <div class="pub-body">
                <p class="pub-ref">
                    F. Golay, D. Lachouette, S. Bonelli, P. Seppecher,
                    <em>Numerical modelling of interfacial soil erosion with viscous incompressible flows</em>,
                    <a href="https://www.sciencedirect.com/journal/computer-methods-in-applied-mechanics-and-engineering" target="_blank">Computer Methods in Applied Mechanics and Engineering</a>, vol. 200, n° 1-4, pp. 383-391, 2010.
                </p>
                <div class="pub-links">
                    <a class="pub-link" href="https://doi.org/10.1016/j.cma.2010.09.002" target="_blank"><span class="mdi mdi-link-variant"></span> DOI</a>
                </div>
            </div>
        </div>

        <div class="pub-entry pub-journal">
            <span class="pub-icon mdi mdi-file-document"></span>
            <div class="pub-body">
                <p class="pub-ref">
                    F. Golay, D. Lachouette, S. Bonelli, P. Seppecher,
                    <em>Interfacial erosion: A three-dimensional numerical model</em>,
                    <a href="https://comptes-rendus.academie-sciences.fr/mecanique/" target="_blank">Comptes Rendus Mécanique</a>, vol. 338, n° 6, pp. 333-337, 2010.
                </p>
                <div class="pub-links">
                    <a class="pub-link" href="https://hal.science/hal-00528972" target="_blank"><span class="mdi mdi-open-in-new"></span> HAL</a>
                </div>
            </div>
        </div>

        <div class="pub-entry pub-journal">
            <span class="pub-icon mdi mdi-file-document"></span>
            <div class="pub-body">
                <p class="pub-ref">
                    D. Lachouette, F. Golay, S. Bonelli,
                    <em>One-dimensional modeling of piping flow erosion</em>,
                    <a href="https://comptes-rendus.academie-sciences.fr/mecanique/" target="_blank">Comptes Rendus Mécanique</a>, vol. 336, n° 9, pp. 731-736, 2008.
                </p>
                <div class="pub-links">
                    <a class="pub-link" href="https://doi.org/10.1016/j.crme.2008.06.007" target="_blank"><span class="mdi mdi-link-variant"></span> DOI</a>
                </div>
            </div>
        </div>
    </section>

    <section class="cv-section">
        <h3 class="mdi mdi-presentation"> Conférences et colloques</h3>

        <div class="pub-entry pub-conf">
            <span class="pub-icon mdi mdi-presentation"></span>
            <div class="pub-body">
                <p class="pub-ref">
                    D. Lachouette, P. Conraux,
                    <em>Harmonic response Optimization using ESI TOPAZE</em>,
                    <a href="https://www.esi-group.com/" target="_blank">ESI Group</a>, 2019.
                </p>
                <div class="pub-links">
                    <a class="pub-link" href="https://www.semanticscholar.org/paper/6b7deb4baee42bb22b86abb842c641d02db6afbd" target="_blank"><span class="mdi mdi-open-in-new"></span> Semantic Scholar</a>
                </div>
            </div>
        </div>

        <div class="pub-entry pub-conf">
            <span class="pub-icon mdi mdi-presentation"></span>
            <div class="pub-body">
                <p class="pub-ref">
                    D. Lachouette, P. Conraux, G. Allaire, F. Jouve,
                    <em>TOPOLEV: Topological optimization using level-set method</em>,
                    13e colloque national en calcul des structures (CSMA), Giens, mai 2017.
                </p>
                <div class="pub-links">
                    <a class="pub-link" href="https://hal.science/hal-01899357" target="_blank"><span class="mdi mdi-open-in-new"></span> HAL</a>
                </div>
            </div>
        </div>

        <div class="pub-entry pub-conf">
            <span class="pub-icon mdi mdi-presentation"></span>
            <div class="pub-body">
                <p class="pub-ref">
                    T. Abballe, M. Albertelli, G. Allaire, A. Caron, P. Conraux, L. Dall'Olio, C. Dapogny,
                    C. Dobrzynski, B. Jeannin, F. Jouve, D. Lachouette, T. Le Sommer, K. Maquin,
                    G. Michailidis, M. Siavelis, V. Srithammavanh,
                    <em>RODIN project, Topology Optimization 2.0?</em>,
                    Congrès Simulation <a href="https://www.sia.fr/" target="_blank">SIA</a>, Montigny-le-Bretonneux, mars 2015.
                </p>
                <div class="pub-links">
                    <a class="pub-link" href="https://hal.science/hal-01237051" target="_blank"><span class="mdi mdi-open-in-new"></span> HAL</a>
                </div>
            </div>
        </div>

        <div class="pub-entry pub-conf">
            <span class="pub-icon mdi mdi-presentation"></span>
            <div class="pub-body">
                <p class="pub-ref">
                    D. Lachouette, S. Bonelli, F. Golay, P. Seppecher,
                    <em>Numerical modelling of interfacial soil erosion</em>,
                    19e Congrès Français de Mécanique (CFM), Marseille, août 2009.
                </p>
            </div>
        </div>

        <div class="pub-entry pub-conf">
            <span class="pub-icon mdi mdi-presentation"></span>
            <div class="pub-body">
                <p class="pub-ref">
                    D. Lachouette, S. Bonelli, F. Golay, P. Seppecher,
                    <em>Modélisation numérique de l'érosion interfaciale des sols</em>,
                    1st International Symposium on Computational Geomechanics (COMGEO I), Juan-les-Pins, avril 2009.
                </p>
            </div>
        </div>

        <div class="pub-entry pub-conf">
            <span class="pub-icon mdi mdi-presentation"></span>
            <div class="pub-body">
                <p class="pub-ref">
                    D. Lachouette, S. Bonelli, O. Brivois,
                    <em>Modélisation de l'érosion par renard hydraulique</em>,
                    25e Rencontres universitaires de Génie civil (AUGC), Bordeaux, mai 2007.
                </p>
                <div class="pub-links">
                    <a class="pub-link" href="https://hal.inrae.fr/hal-02589406" target="_blank"><span class="mdi mdi-open-in-new"></span> HAL</a>
                </div>
            </div>
        </div>
    </section>

    <section class="cv-section">
        <h3 class="mdi mdi-link-variant"> Profils en ligne</h3>
        <div class="pub-profiles">
            <a class="pub-profile-card" href="https://scholar.google.com/citations?user=EDVKU_sAAAAJ" target="_blank">
                <img src="https://www.google.com/s2/favicons?domain=scholar.google.com&sz=64" alt="Google Scholar">
                <span>Google Scholar</span>
            </a>
            <a class="pub-profile-card" href="https://www.researchgate.net/scientific-contributions/19515281_Damien_Lachouette" target="_blank">
                <img src="https://www.google.com/s2/favicons?domain=researchgate.net&sz=64" alt="ResearchGate">
                <span>ResearchGate</span>
            </a>
        </div>
    </section>
</div>
{% endblock %}
