---
services:
  web:
    build: .
    restart: unless-stopped
    dns: ${SERVER_DNS:-8.8.8.8}
    ports:
      - "${SERVER_PORT:-8000}:8000"
    env_file:
      - .env
    volumes:
      - ${SERVER_PATH_MEDIA:-./docker_data/media}:/app/data/media
      - ${SERVER_PATH_DB:-./docker_data/db}:/app/data/db
