---
services:
  web:
    build: .
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./docker_data/media:/app/data/media
      - ./docker_data/db:/app/data/db
