/* définitions génériques */
body {
  font-family: Georgia, "Times New Roman",Times, serif;
  background-color: #215;
  background-image: -webkit-gradient(linear,center top,center bottom,from(#215),to(#000));
  background-image: -moz-linear-gradient(top,#215,#000);
  background-image: -o-linear-gradient(top,#215,#000);
  background-image: -ms-linear-gradient(top,#215,#000);
  background-image: linear-gradient(top,#215,#000);
  text-align: center;
  color: #FFFF00;
 }

a{
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	-o-transition: all 500ms ease-in;
	-ms-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	color: #FFFF80;
	text-decoration: none;
}

article{
  margin: 25px 25px 0px 0px;
}

a:link{
	color: #FFFF80;
	text-decoration: none;
}

a:visited{
	color: #585800;
	text-decoration: none;
}

a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

@font-face {
    font-family: 'TourardroitRegular';
    src: url('tourar_droit-webfont.eot');
    src: url('tourar_droit-webfont.eot?#iefix') format('embedded-opentype'),
         url('tourar_droit-webfont.woff') format('woff'),
         url('tourar_droit-webfont.ttf') format('truetype'),
         url('tourar_droit-webfont.svg#TourardroitRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*====================================================
   le conteneur global
======================================================*/

.conteneur {
  width:1200px;
  margin:0px auto;
  clear: both;
}

/*====================================================
   le bloc suppérieur
======================================================*/
.top{
  position: relative;
  width: 1196px;
}
/* le titre */
.bandeau {
  border: 0px #002858 solid;
  height: 150px;
  width:100%;
  margin: 5px 0px 5px 0px;
  background: url(img/titre_small.jpg) no-repeat;
  background-image: url(img/titre_small.jpg);
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  display: -moz-box;
  -o-box-orient: horizontal;
  display: -o-box;
  -ms-box-orient: horizontal;
  display: -ms-box;
  box-orient: horizontal;
  display: box;
} 

#infonav{
  text-align:left;
  width: 200px;
  font-size: 10px;
  -webkit-box-ordinal-group:3;
  -moz-box-ordinal-group:3;
  -o-box-ordinal-group:3;
  -ms-box-ordinal-group:3;
  box-ordinal-group:3;
}

#connection{
  text-align:left;
  width: 500px;
  font-size: 10px;
  -webkit-box-ordinal-group:2;
  -moz-box-ordinal-group:2;
  -o-box-ordinal-group:2;
  -ms-box-ordinal-group:2;
  box-ordinal-group:2;
}

#blocgauche{
  text-align:left;
  width: 500px;
  font-size: 10px;
  -webkit-box-ordinal-group:1;
  -moz-box-ordinal-group:1;
  -o-box-ordinal-group:1;
  -ms-box-ordinal-group:1;
  box-ordinal-group:1;
}

/* la bare d'addresse horizontale*/
.adress {
  border: 0px #002858 solid;
  height: 47px;
  margin: 5px 0px 5px 0px;
  width:100%;
}
#tabnav {
	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	-o-transition: all 500ms ease-in;
	-ms-transition: all 500ms ease-in;
	transition: all 500ms ease-in;
	margin: 10px;
	padding: 0 0 10px 10px;
	/* la ligne inférieure */
	border-bottom: 1px solid #069;/*#696;*/
}

#tabnav li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#tabnav a:link, #tabnav a:visited {
	float: center;
	font-size: 20px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 20px 4px 20px;
	text-decoration: none;
	color: #A90/*#9c9;*/
}

#tabnav li.active a:link, #tabnav li.active a:visited, #tabnav a:hover {
	border-bottom: 4px solid #069;/*#696;*/
	padding-top: 2px;
	padding-bottom: 2px;
	padding: 2px;
	font-size: 28px;
	background: #ba0;
	color: #013;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	border-radius: 15px;
}

#tabnav a:hover {
	color: #069;
}

/*====================================================
   le bloc inférieur
======================================================*/

.pied {
  position:relative;
  margin: 5px 0px 5px 0px;
  padding-top: 5px;
  border: 2px #002858 solid;
  width: 1196px;
  height:120px;
 /* background: url("images/titre.jpg") no-repeat;*/
}

.author {
}

.fn{
}

/*====================================================
   le bloc central
======================================================*/
.centre {
  position: relative;
  width: 1196px;
  margin: 5px 0px 5px 0px;
  border: 2px #002858 solid;
  left: 0px;
  height: auto;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  display: -moz-box;
  -o-box-orient: horizontal;
  display: -o-box;
  -ms-box-orient: horizontal;
  display: box;
  box-orient: horizontal;
  display: box;
}

.colonnel{
  width: 12.5%;
  width: 150px;
  -webkit-box-ordinal-group:1;
  -moz-box-ordinal-group:1;
  -o-box-ordinal-group:1;
  -ms-box-ordinal-group:1;
  box-ordinal-group:1;
}
/* pas de colonnes latérales => width 100% !!!*/
.colonnem {
  padding: 0px 0px 15px 0px;
  width: 75%;
  width: 897px;
  -webkit-box-ordinal-group:2;
  -moz-box-ordinal-group:2;
  -o-box-ordinal-group:2;
  -ms-box-ordinal-group:2;
  box-ordinal-group:2;
}
.colonner {
   width: 12.5%;
   width: 150px;
   -webkit-box-ordinal-group:3;
   -moz-box-ordinal-group:3;
   -o-box-ordinal-group:3;
   -ms-box-ordinal-group:3;
   box-ordinal-group:3;
}

/*====================================================
   les blocs de news
======================================================*/

.cadre_news {
  position: relative;
  width:90%;
  border: 8px #002858 double;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px #FFF;
  -moz-border-radius: 15px;
  -moz-box-shadow: 0px 0px 15px #FFF;
  -o-border-radius: 15px;
  -o-box-shadow: 0px 0px 15px #FFF;
  -ms-border-radius: 25px;
  -ms-box-shadow: 0px 0px 15px #FFF;
  border-radius: 25px;
  box-shadow: 0px 0px 15px #FFF;
  height: auto;
  text-align:middle;
  margin:25px auto;
  padding: 4px;
  background-color: #004878;
  background: url(img/fond_news.png);
}

.news_haut {
  width:99%;
  border-bottom: 1px #50AAAA solid;
  height: auto;
  text-align:center;
  padding-left: 3px;
  padding-right: 3px;
}

.news_centre {
  /*position: relative;*/
  width:99%;
  border-bottom: 1px #50AAAA solid;
  border-top: 1px #50AAAA solid;
  height: auto;
  text-align:left;
  padding-left: 3px;
  padding-right: 3px;
}

.news_bas {
  /*position: relative;*/
  width:99%;
  border-top: 1px #50AAAA solid;
  height: auto;
  text-align:right;
  padding-left: 3px;
  padding-right: 3px;
}

/*====================================================
    les bloc de textes histoires
====================================================*/

aside {
  width:98%;
  font-family:"times new roman", times, serif;
  padding: 10px;
}
aside h2 {
  font-size: 26pt;
}

aside p{
  text-align:justify;
  text-indent:40px;
  font-size: 18pt;
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-before: 0em;
  -moz-margin-after: 0em;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -o-margin-before: 0em;
  -o-margin-after: 0em;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -ms-margin-before: 0em;
  -ms-margin-after: 0em;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
}

aside table{
  text-align:left;
  text-indent:0px;
  font-size: 18pt;
  border-width: 1px;
  border-color: #FFFF80;
  border-collapse:collapse;
  border-style:solid;
}

aside th{
  padding: 2px 5px 2px 5px;
  border-width: 1px;
  border-color: #FFFF80;
  border-collapse:collapse;
  border-style:solid;
  border-bottom-width: 3px;
}

aside td{
  padding: 2px 5px 2px 5px;
  border-width: 1px;
  border-color: #FFFF80;
  border-collapse:collapse;
  border-style:solid;
}

.ayoaron {
  text-indent:0px;
  text-align:center;
  text-decoration:none;
  quotes: "" "";
  font-family: TourardroitRegular;
  font-size: 22pt;
}

aside ul{
  text-align:left;
  font-size: 18pt;
  text-indent:0px;
}

/*====================================================
   les blocs de résultats base de données
======================================================*/
.cadre_resultat {
  position: relative;
  width:90%;
  border: 8px #002858 double;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px #FFF;
  -moz-border-radius: 15px;
  -moz-box-shadow: 0px 0px 15px #FFF;
  -o-border-radius: 15px;
  -o-box-shadow: 0px 0px 15px #FFF;
  -ms-border-radius: 25px;
  -ms-box-shadow: 0px 0px 15px #FFF;
  border-radius: 25px;
  box-shadow: 0px 0px 15px #FFF;
  height: auto;
  text-align:left;
  margin:25px auto;
  padding: 4px;
  background-color: #004878;
  background: url(img/fond_news.png);
}

.restop{
	border-bottom: 1px #50AAAA solid;
	width=100%
	-webkit-box-orient: horizontal;
	display: -webkit-box;
	-moz-box-orient: horizontal;
	display: -moz-box;
	-o-box-orient: horizontal;
	display: -o-box;
	-ms-box-orient: horizontal;
	display: -ms-box;
	box-orient: horizontal;
	display: box;
}

.resfich{
	width: 650px;
	box-ordinal-group:1;
	-webkit-box-ordinal-group:1;
	-moz-box-ordinal-group:1;
	-o-box-ordinal-group:1;
}
.resphoto{
	width: 150px;
	-webkit-box-ordinal-group:2;
	-moz-box-ordinal-group:2;
	-o-box-ordinal-group:2;
	-ms-box-ordinal-group:2;
	box-ordinal-group:2;
}
.resresume{
	border-bottom: 1px #50AAAA solid;
	border-top: 1px #50AAAA solid;
}
.reshistoire{
	border-bottom: 1px #50AAAA solid;
	border-top: 1px #50AAAA solid;
}
.rescarac{
	border-top: 1px #50AAAA solid;
}

.nom_resultat {
  width:99%;
  border-bottom: 1px #50AAAA solid;
  height: auto;
  text-align:center;
  padding-left: 3px;
  padding-right: 3px;
}

/*====================================================
   les blocs de recherche base de données
======================================================*/

#ls_type{
	margin:0;
	padding:0;
	list-style-type:none;
	display:block;
	list-style-type: none;
	text-align: left;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	-ms-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
	width:150px;
}

#ls_type li{
	margin:0;
	padding:1;
	border-top:1px solid #00004D;
	border-bottom:1px solid #1A1A76;
	background:#103;
	color: #999;
}

#ls_type li a{
	display:block;
	text-decoration:none;
	color:#fff;
	background:#220;
	padding:0 0 0 5px;
	width:145px;
	font-size: 16px;
}

#ls_type li a:hover{
	background:#660;
	color:#345;
	font-size: 24px;
}

#ls_type li a.ty_actif,li a.ty_actif:hover{
	background:#BB3;
	font-size: 20px;
}



#ls_obj{
	margin:0;
	padding:0;
	list-style-type:none;
	display:block;
	list-style-type: none;
	text-align: left;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	-ms-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
	width:150px;
}

#ls_obj li{
	margin:0;
	padding:1;
	border-top:1px solid #00004D;
	border-bottom:1px solid #1A1A76;
	background:#103;
	color: #999;
}

#ls_obj li a{
	display:block;
	text-decoration:none;
	color:#fff;
	background:#220;
	padding:0 0 0 5px;
	width:145px;
	font-size: 16px;
}

#ls_obj li a:hover{
	background:#660;
	color:#345;
	font-size: 24px;
}

#ls_obj li a.ob_actif,li a.ob_actif:hover{
	background:#BB3;
	font-size: 20px;
}