{% extends "base.html" %}
{%block topsection %}
<div class="topcontent">
    <h3>Les Vols</h3>
</div>
{%endblock%}

{%block mainsection %}
{% for vol in vols %}
<div class="Article">
    <div class="ArticleHeader">
        <a href ="/vols/{{ vol.id }}"><h4>{{ vol }}</h4></a>
    </div>
    <div class="ArticleContent">
        {{ vol.render_meteo|safe }}
        {{ vol.summary_md|safe }}
    </div>
    <div class="ArticleFooter">
        <div class="ArticleAuthor">
            <a href="/confs/{{vol.drone_configuration.id}}" class="mdi mdi-quadcopter">{{ vol.drone_configuration }}</a>
        </div>
        <div class="ArticleComments mdi mdi-comment-outline">{{ vol.nb_comments }}</div>
        <div class="ArticleDate mdi mdi-clock-fast">{{ vol.date }}</div>
    </div>
    {% if vol.nb_comments > 0 %}
    <div class="Comments">
        {% for cc in vol.get_comments %}
            <div class="c_head">
                <div class="c_author mdi mdi-account-circle">{{cc.user}}</div>
                <div class="c_date mdi mdi-clock-fast">{{cc.date}}</div>
            </div>
            <div class="c_body">{{cc.contenu_md| safe}}</div>
        {% endfor%}
    </div>
    {% endif %}
</div>
{% empty %}
<p>Empty</p>
{% endfor %}
{%endblock%}
