{% extends "base.html" %}
{%block topsection %}
<div class="topcontent">
    <h3>Les Vols</h3>
</div>
{%endblock%}

{%block mainsection %}
{% for vol in vols %}
<div class="Article">
    <div class="ArticleHeader">
        <a href ="/vols/{{ vol.id }}"><h4>{{ vol }}</h4></a>
    </div>
    <div class="ArticleContent">
        <p>Météo: {{ vol.render_meteo|safe }}</p>
        {{ vol.summary_md|safe }}
    </div>
    <div class="ArticleFooter">
        <div class="ArticleAuthor">
            <a href="/confs/{{vol.drone_configuration.id}}"><span class="mdi mdi-quadcopter"></span>
            <span>{{ vol.drone_configuration }}</span></a>
        </div>
        <div class="ArticleComments">
            <span class="mdi mdi-comment-outline"></span>
            <span>{{ vol.nb_comments }}</span>
        </div>
        <div class="ArticleDate">
            <span class="mdi mdi-clock-fast"></span>
            <span>{{ vol.date }}</span>
        </div>
    </div>
    {% if vol.nb_comments > 0 %}
    <div class="Comments">
        {% for cc in vol.get_comments %}
            <div class="c_head">
            <div class="c_author"><span class="mdi mdi-account-circle"></span>{{cc.user}}</div>
            <div class="c_date"><span class="mdi mdi-clock-fast"></span>{{cc.date}}</div>
            </div>
            <div class="c_body">{{cc.contenu_md| safe}}</div>
        {% endfor%}
    </div>
    {% endif %}
</div>
{% empty %}
<p>Empty</p>
{% endfor %}
{%endblock%}
