{% extends "base.html" %}
{% load static template_drone_extra %}
{%block topsection %}
<div class="topcontent">
    <h3>Les Composants</h3>
</div>
{%endblock%}


{%block mainsection %}

{% for comp in composants %}
<div class="Article">
    <div class="ArticleHeader">
        <h4>{{ comp.name }}</h4>
    </div>
    <div class="ArticleContent">
        <p>Catégorie: {{ comp.category.name }} {% if comp.category.onBoard %}volant{% else %}}au sol{% endif %}</p>
        <div class="specifications">
            <div class="image_desc"><img src="{{ comp.photo.url }}"></div>
            <table>
                {% for spec,val in comp.specs.items %}
                    <tr><td>{{ spec }}</td><td>:</td><td>{{ val }}{% getunit spec %}</td></tr>
                {% endfor %}
            </table>
        </div>
        {{ comp.comments_md|safe}}
    </div>
    <div class="ArticleFooter">
        <a href="{{ comp.datasheet }}">Datasheet</a>
    </div>
</div>
{% empty %}
<p>Empty</p>
{% endfor %}

{%endblock%}