{% extends "base.html" %}
{% load static template_drone_extra %}
{%block topsection %}
<div class="topcontent">
    <a href ="/confs"><h3>Les Configurations de drone</h3></a>
</div>
{%endblock%}

{%block mainsection %}
<div class="Article Article_detail">
    <div class="ArticleHeader">
        <a href ="/confs"><h4>{{ conf }}</h4></a>
    </div>
    <div class="ArticleContent">
        <div class="specifications">
            {% if conf.photo %}
            <div class="image_desc"><img src="{{ conf.photo.url }}"></div>
            {% endif %}
            <ul class="composants">
                {% for comp in conf.Composants.all %}
                <li><a href="/comps/{{comp.id}}">{{ comp }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {{ conf.description_all_md|safe}}
    </div>
    <div class="ArticleFooter">
        <div class="ArticleAuthor">
            <span class="mdi mdi-engine-outline"></span>
            <span>{{ conf.version_logiciel }}</span>
        </div>
        <div class="ArticleComments">
            <span class="mdi mdi-comment-outline"></span>
            <span>{{ conf.nb_comments }}</span>
        </div>
        <div class="ArticleDate">
            <span class="mdi mdi-clock-fast"></span>
            <span>{{ conf.date }}</span>
        </div>
    </div>
    {% if conf.nb_comments > 0 %}
    <div class="Comments">
        {% for cc in conf.get_all_comments %}
            <div class="c_head">
            <div class="c_author"><span class="mdi mdi-account-circle"></span>{{cc.user}}</div>
            <div class="c_date"><span class="mdi mdi-clock-fast"></span>{{cc.date}}</div>
            </div>
            <div class="c_body">{{cc.contenu_all_md| safe}}</div>
        {% endfor%}
    </div>
    {% endif %}
</div>

{%endblock%}