{% extends "base.html" %}
{%block topsection %}
<div class="topcontent">
    <a href ="/vols"><h3>Les Vols</h3></a>
</div>
{%endblock%}

{%block mainsection %}
<div class="Article Article_detail">
    <div class="ArticleHeader">
        <a href ="/vols"><h4>{{ vol }}</h4></a>
    </div>
    <div class="ArticleContent">
        {{ vol.render_meteo|safe }}
        {{ vol.summary_all_md|safe }}
        {% if vol.datalog %}
        <a href="{{ vol.datalog.url }}"><span class="mdi mdi-database-export"></span><span>Datalog</span></a>
        {% else %}
        <span><span class="mdi mdi-database-remove"></span><span>no datalog</span></span>
        {% endif %}
        {% if vol.video %}
        <a href="{{ vol.video.url }}"><span class="mdi mdi-video-outline"></span><span>Vidéo</span></a>
        {% else %}
        <span><span class="mdi mdi-video-off-outline"></span><span>no Vidéo</span></span>
        {% endif %}
    </div>
    <div class="ArticleFooter">
        <div class="ArticleAuthor">
            <a href="/confs/{{vol.drone_configuration.id}}"><span class="mdi mdi-airplane"></span>
            <span>{{ vol.drone_configuration }}</span></a>
        </div>
        <div class="ArticleComments">
            <span class="mdi mdi-comment-outline"></span>
            <span>{{ vol.nb_comments }}</span>
        </div>
        <div class="ArticleDate">
            <span class="mdi mdi-clock-fast"></span>
            <span>{{ vol.date }}</span>
        </div>
    </div>
    {% if vol.nb_comments > 0 %}
    <div class="Comments">
        {% for cc in vol.get_comments %}
            <div class="c_head">
            <div class="c_author"><span class="mdi mdi-account-circle"></span>{{cc.user}}</div>
            <div class="c_date"><span class="mdi mdi-clock-fast"></span>{{cc.date}}</div>
            </div>
            <div class="c_body">{{cc.contenu_all_md| safe}}</div>
        {% endfor%}
    </div>
    {% endif %}
</div>
{%endblock%}
