{% extends "base.html" %}
{% load static template_drone_extra %}
{%block topsection %}
<div class="topcontent">
    <a href ="/comps"><h3>Les Composants</h3></a>
</div>
{%endblock%}

{%block mainsection %}
<div class="Article Article_detail">
    <div class="ArticleHeader">
        <a href ="/comps"><h4>{{ comp.name }}</h4></a>
    </div>
    <div class="ArticleContent">
        <div class="specifications">
            <p>Catégorie: {{ comp.category.name }} {% if comp.category.onBoard %}volant{% else %}}au sol{% endif %}</p>
            <div class="image_desc"><img src="{{ comp.photo.url }}"></div>
            <table>
                {% for spec,val in comp.specs.items %}
                    <tr><td>{{ spec }}</td><td>:</td><td>{{ val }}{% getunit spec %}</td></tr>
                {% endfor %}
            </table>
        </div>
        {{ comp.description_all_md|safe}}
    </div>
    <div class="ArticleFooter">
        <div class="ArticleAuthor">
            <a href="{{ comp.datasheet }}"><span class="mdi mdi-crane"></span>Datasheet</a>
        </div>
        <div class="ArticleComments">
            <span class="mdi mdi-comment-outline"></span>
            <span>{{ comp.nb_comments }}</span>
        </div>
        <div class="ArticleDate">
        </div>
    </div>
    {% if comp.nb_comments > 0 %}
    <div class="Comments">
        {% for cc in comp.get_all_comments %}
            <div class="c_head">
            <div class="c_author"><span class="mdi mdi-account-circle"></span>{{cc.user}}</div>
            <div class="c_date"><span class="mdi mdi-clock-fast"></span>{{cc.date}}</div>
            </div>
            <div class="c_body">{{cc.contenu_all_md| safe}}</div>
        {% endfor%}
    </div>
    {% endif %}
</div>

{%endblock%}