@import url(https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
html, body {
	height: 100%;
	font-family: sans-serif;
	font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6 { 
	color: #fcd649;
	margin: 0;
	font-weight:500;
	font-family: sans-serif;
	line-height: normal;
	text-transform: uppercase;
}
h1 {font-size: 70px;}
h2 {font-size: 48px;}
h3 {font-size: 30px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 14px;}
p {
 font-size: 15.7px;
 color: #75849a;
 line-height: 1.6;
}
body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #464646;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
 outline: none;
}
a:hover,
a:focus {
 text-decoration: none;
 outline: none;
}
a {
	text-decoration: none;
	outline: none;
	background-color: transparent;
}
ul,
ol {
 padding: 0;
 margin: 0;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: flex;
}
i{
	margin-right:0.25rem;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header-section {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 0 0.7rem;
	z-index: 99;
	background-color: #161616;
}
.header-section:after {
	display: flex;
	clear: both;
	content: "";
}
.navbar{
	position: relative;
	display: flex;
	flex-flow:row nowrap;
	align-items: end;
	justify-content: space-between;
	color: #fff;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}
.navbar a h3{
	display:inline-block;
	padding: 11px 11px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
.site-logo {
	display: flex;
	align-items: center;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}
.site-logo img {
	height: 50px;
}
.navbarbar{
	display: flex !important;
	flex-basis: auto;
	flex-grow: 1;
	box-align: center;
	align-items: center;
}
.navbar-nav{
	display: flex;
	flex-wrap:nowrap;
	flex-direction: row;
	margin-left:auto !important;
}
.navbar-nav>li:not(:last-child) {
	margin-right:1rem
}
.navbar-nav li {
	list-style: none;
	padding:0.5rem;
	padding-bottom: 0.7rem;
}
.navbar-nav .nav-item {
	position:relative;
	display:flex;
	text-align:center
}
.navbar-nav li a{
	display: flex;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
}
.navbar-nav .nav-item>a::before {
	transform:scale3d(1,1,1);
}
.navbar-nav .nav-item a:focus,
.navbar-nav .nav-item a:hover {
 color:#fcd649
}
.navbar-nav .nav-item a:focus::before,
.navbar-nav .nav-item a:hover::before {
 background:#fcd649
}
.navbar-nav .nav-item>a::before {
  content:'';
  position:absolute;
  top:0px;
  width:100%;
  margin-left:-0.5rem;
  height:2px;
  background:#fcd649;
  transform:scale3d(0,1,1);
  transition:transform .2s
}
.navbar-nav .nav-item>a:hover::before {
  transform:scale3d(1,1,1)
}

.navbar-nav .current>a::before {
	height:0px;
}
.navbar-nav .current{
	background:#464646;
	border-top:#fcd649 2px solid;
}
.navbar-nav .current>a {
	color:#fcd649
}

.top-section {
    padding-top:4.7rem;
    padding-bottom: 0.7rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.topcontent {
    text-align:center;
}
.main-section {
	background-color: #ddd;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2.7em 3em;
}
.footer-section {
	position: fixed;
	width:100%;
	bottom:0;
	background-color: #0c0c0C;
	padding-bottom: 0.1rem;
}

.Article{
display: flex;
flex-direction: column;
border-radius: 1.5em;
background-color: #464646;
color: #ccc;
padding: .5em;
min-width: 400px;
}
.ArticleHeader{
display: flex;
align-content: center;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
}
.ArticleContent{
display: flex;
min-height: 100px;
}
.ArticleFooter{
display: flex;
flex-direction: row;
justify-content: space-between;
}