{% load static %}
<html lang="fr">
<head>
    <title>{% block title %}Site de Lachouette{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index,follow">
    <meta name="author" content="Argawaen">
    <meta name="description" content="le contenu">
    {% block favicon %}
    <link rel="shortcut icon" href="{% static 'img/favicon_www.ico' %}"/>
    {% endblock %}
    <meta name="keywords" content="FUCK!!">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- feuille de style -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Material design I -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css">
    <!-- mon css -->
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/default_www.css' %}">
    {% endblock %}
    {% block additionnalhead %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>