{% extends "drone/base.html" %}
{%block topsection %}
<div class="topcontent">
    <h1>Les dernières news!</h1>
</div>
{%endblock%}


{%block mainsection %}

{% for article in articles %}
<div class="Article">
    <div class="ArticleHeader">
        <a href="{% url 'detailed_article' article.id %}"><h1>{{ article.titre }}</h1></a>
    </div>
    <div class="ArticleContent">
        {{ article.contenu_md|safe }}
        <a href="{% url 'detailed_article' article.id %}" class="comment-btn comment-btn-small mdi mdi-loupe">Détails...</a>
    </div>
    <div class="ArticleFooter">
        <div class="ArticleAuthor mdi mdi-account-circle">{{ article.auteur }}</div>
        <div class="ArticleComments mdi mdi-comment-outline">{{ article.nb_comments }}</div>
        <div class="ArticleDate mdi mdi-clock-fast">{{ article.date }}</div>
    </div>
    {% if article.nb_comments > 0 %}
    <div class="Comments">
        {% for cc in article.get_comments %}
            <div class="comment">
                <div class="c_head">
                    <div class="c_author mdi mdi-account-circle">{{cc.auteur}}</div>
                    <div class="c_date mdi mdi-clock-fast">{{cc.date}}</div>
                </div>
                <div class="c_body">{{cc.contenu_md| safe}}</div>
            </div>
        {% endfor%}
    </div>
    {% endif %}
</div>
{% empty %}
<div class="Article">
<p>Login required...</p>
<a class="comment-btn mdi mdi-login" href="{% url 'login' %}">Login</a>
</div>
{% endfor %}

{%endblock%}