/*====================================================
   le bloc central
======================================================*/
.centre {
  position: relative;
  width: 1196px;
  margin: 5px 0px 5px 0px;
  border: 2px #002858 solid;
  left: 0px;
  height: auto;
  display: box;
}

.colonnel{
  width: 12.5%;
  width: 150px;
  position: absolute;
  left: 1%
}

.colonnem {
  padding: 0px 0px 15px 0px;
  width: 75%;
  width: 897px;
}

.colonner {
   width: 12.5%;
   width: 150px;
   position: absolute;
   right: 1%
}