@import url(https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
html, body {
	height: 100%;
	font-family: sans-serif;
	font-smoothing: antialiased;
    color: #ccc;
}
h1,h2,h3,h4,h5,h6 { 
	color: #fcd649;
	margin: 0;
	font-weight:500;
	font-family: sans-serif;
	text-transform: uppercase;
}
body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	color: #212529;
	text-align: left;
	background-color: #464646;
	font-size: 14px;
}
h1 {font-size: 27px;}
h2 {font-size: 25px;}
h3 {font-size: 23px;}
h4 {font-size: 21px;}
h5 {font-size: 17px;}
h6 {font-size: 15px;}

@media all and (max-width: 1000px) {
body {font-size:2.1vw;}
h1 {font-size: 4.05vw;}
h2 {font-size: 3.75vw;}
h3 {font-size: 3.45vw;}
h4 {font-size: 3.15vw;}
h5 {font-size: 2.55vw;}
h6 {font-size: 2.25vw;}
}
input:focus,
select:focus,
button:focus,
textarea:focus {
 outline: none;
}
a:hover,
a:focus {
 text-decoration: none;
 outline: none;
}
a {
	text-decoration: none;
	outline: none;
	background-color: transparent;
}
ul,
ol {
 padding: 0;
 padding-left: 1.5em;
 margin: 0;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: flex;
}
i{
	margin-right:0.25rem;
}
.mdi::before{
padding-right: 0.5em;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header-section {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 0 0.7rem;
	z-index: 99;
	background-color: #161616;
}
.header-section:after {
	display: flex;
	clear: both;
	content: "";
}
.navbar{
	position: relative;
	display: flex;
	flex-flow:row nowrap;
	align-items: end;
	justify-content: space-between;
	color: #fff;
	white-space: nowrap;
}
@media all and (max-width: 1000px) {

.navbar{
    flex-flow:row wrap;
}

}
.navbar a h3{
	display:inline-block;
	padding: 11px 11px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
.site-logo {
	display: flex;
	align-items: center;
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	white-space: nowrap;
	height: 50px;
}
@media all and (max-width: 1000px) {
.site-logo {
	height: 20px;
}
.navbar a h3 {
	font-size: 2.1vw;
	padding: 3px 3px;
}
}
.site-logo img{
    /* height: 50px; */
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.navbarbar{
	display: flex !important;
	flex-basis: auto;
	align-items: center;
}
.navbar-nav{
	display: flex;
	flex-wrap:nowrap;
	flex-direction: row;
	margin-left:auto !important;
}
.navbar-nav>li:not(:last-child) {
	margin-right:1rem
}
.navbar-nav ul, .navbar-nav ol{
    padding-left: 0;
}
.navbar-nav li {
	list-style: none;
	padding:0.5rem;
	padding-bottom: 0.7rem;
}
.navbar-nav .nav-item {
	position:relative;
	display:flex;
	text-align:center
}
.navbar-nav li a{
	display: flex;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
}
@media all and (max-width: 1000px) {
.navbar-nav li {
	padding:0.2rem;
	padding-bottom: 0.4rem;
}
.navbar-nav li a{
    font-size: 2.1vw;
}
}
.navbar-nav .nav-item>a::before {
	transform:scale3d(1,1,1);
}
.navbar-nav .nav-item a:focus,
.navbar-nav .nav-item a:hover {
 color:#fcd649
}
.navbar-nav .nav-item a:focus::before,
.navbar-nav .nav-item a:hover::before {
 background:#fcd649
}
.navbar-nav .nav-item>a::before {
  content:'';
  position:absolute;
  top:0px;
  width:100%;
  margin-left:-0.5rem;
  height:2px;
  background:#fcd649;
  transform:scale3d(0,1,1);
  transition:transform .2s
}
.navbar-nav .nav-item>a:hover::before {
  transform:scale3d(1,1,1)
}

.navbar-nav .current>a::before {
	height:0px;
}
.navbar-nav .current{
	background:#464646;
	border-top:#fcd649 2px solid;
}
.navbar-nav .current>a {
	color:#fcd649
}

.top-section {
    padding-top:4.7rem;
    padding-bottom: 0.7rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.topcontent {
    text-align:center;
}
.main-section {
	background-color: #ddd;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
    padding: 1.7em;
    padding-bottom:4.7rem;
}
.bottom-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
    padding: 1.7em;
    padding-bottom:4.7rem;
}
.footer-section {
	position: fixed;
	width:100%;
	bottom:0;
	background-color: #0c0c0C;
	padding-bottom: 0.1rem;
	flex-flow: row nowrap;
	justify-content: space-between;
    align-items: center;
}

.Article{
display: flex;
flex-flow: column nowrap;
border-radius: 1.5em;
background-color: #464646;
color: #ccc;
padding: .5em;
margin: 1%;
min-width: 200px;
max-width: 600px;
}
.Article_detail {
max-width: 90%;
}
.Article a {
    color: #ccc;
}
.Article a:hover {
    color: #fcd649;
}
.ArticleHeader{
display: flex;
align-content: center;
align-items: center;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
padding: 0.5em 0.1em;
}
.ArticleHeader a:hover h1{
    color: #fff;
}
.ArticleContent{
display: flex;
flex-direction: column;
min-height: 100px;
}
.ArticleContent h1,.ArticleContent h2,.ArticleContent h3,.ArticleContent h4,.ArticleContent h5,.ArticleContent h6{
    color: #ccc;
}
.ArticleFooter{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.ArticleContent::before, .ArticleContent::after{
    position: relative;
    height: 3px;
    left: 3%;
    width: 94%;
    background-color: #555;
    content:"";
}
.specifications {
    display:flex;
    flex-driection: row;
}
.image_desc {
    max-width: 50%;
}
.image_desc img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.user_info{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.Comments {
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #565656;
    display: flex;
    flex-flow: column nowrap;
}
.comment::before {
    position: relative;
    content:"";
    height: 2px;
    left:5%;
    width:90%;
    background-color:#464646;
    display: inline-block;
}
.c_head {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.c_body {

}
.comment-subbing{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.comment-subbing form{
    min-width: 50%;
    max-width: 100%;
    padding: 1em;
    color: #ccc;
}
.markdownx{
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%
}
.markdownx textarea{
    width: 50%
}

.markdownx-preview{
    width:50%;
    margin: 1em;
    padding-left:1em;
    color: #ccc;
    background-color: #565656;
    border-radius: 0.5em;
}
.comment-btn {
    background-color: #262626;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    Color: #ccc;
    border: 0;
    margin: 0.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.comment-btn-small {
    width: max-content;
}
.comment-btn:hover {
    background-color: #363636;
    color: #fcd649;
    transition:color .2s;
    transition:background-color .2s;
}
.alert-fail {
    color: #F00;
	text-transform: uppercase;
	font-weight: bold;
}
.alert-success {
    color: #0F0;
	text-transform: uppercase;
	font-weight: bold;
}
.user_form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /*min-width: 200px;*/
    max-width: 100%;
}
.nologin {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

