@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css);

/* Color palette */
:root {
	--bg-body: #181818;
	--bg-surface: #222222;
	--bg-elevated: #2a2a2a;
	--bg-header: #111111;
	--border: #383838;
	--separator: #333333;
	--text: #e0e0e0;
	--text-secondary: #999999;
	--blue: #5090C1;
	--blue-light: #7ab8eb;
	--blue-lighter: #9ac8fb;
	--blue-hover: #6aaad8;
}

/* Global reset */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}
body{
	display:flex;
	flex-direction: column;
	text-align:center;
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	background-color: var(--bg-body);
	color: var(--text);
	min-height:100%;
}
h1 {font-size: 27px;}
h2 {font-size: 25px;}
h3 {font-size: 23px;}
h4 {font-size: 21px;}
h5 {font-size: 17px;}
h6 {font-size: 15px;}

@media all and (max-width: 1000px) {
body {font-size:2.1vw;}
h1 {font-size: 4.05vw;}
h2 {font-size: 3.75vw;}
h3 {font-size: 3.45vw;}
h4 {font-size: 3.15vw;}
h5 {font-size: 2.55vw;}
h6 {font-size: 2.25vw;}
}

a {
 text-decoration:none;
 transition:.3s;
 transition-property:color,background,box-shadow;
 color: var(--blue);
}
a:active,a:focus,a:hover {
 text-decoration:underline
}
/* noprint */
@media print {
	.noprint { display: none; }
}
/* Main containers */
.PageCenter, .site-header, .site-footer{
	min-height: 45px;
}
.site-header, .site-footer{
	background: var(--bg-header);
	color: var(--text);
}

/* Header containers */
.FooterContent, .PageContent, .upper-header, .lower-header {
	margin:0 auto;
	max-width: 1690px;
	padding: 10px 0;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.upper-header, .lower-header {
	flex-direction: row;
}

/* Header elements */
.site-title {
	display:flex;
	flex-wrap:nowrap;
	align-items: center;
}
.site-title h3{
	font-size:220%;
}
@media all and (max-width: 1000px){
	.site-title h3{ font-size:0; }
	.site-title img{ width:30px; height:30px; }
}
.site-user {
	padding: 5px;
	display:flex;
	flex-wrap:nowrap;
	align-items: center;
	justify-content: space-between;
}

.userbtn {
	text-decoration:none;
	padding: 4px 8px;
	color:#ffffff;
	border-radius:10px;
	border: 1px solid var(--blue);
	background-color: var(--blue-light);
	text-align:center;
}
@media all and (max-width: 1000px){
	.userbtn { padding: 1.4vw 1.8vw; }
}
.userbtn:active,
.userbtn:focus,
.userbtn:hover {
	text-decoration:none;
	border-color:#ffffff;
	background-color: var(--blue-lighter);
}

/*--- SiteMenu setup ---*/
.site-nav-menu {
	display: flex;
	flex-wrap:nowrap;
	padding: 5px;
	flex: 1;
	align-items:center;
	flex-direction: row;
}
.site-nav-menu>li:not(:last-child) {
	margin-right:15px
}
.site-nav-menu li {
	list-style: none;
}
.site-nav-menu .site-nav-item {
	position:relative;
	display:block;
	text-align:center
}
.site-nav-menu .site-nav-item.active>a::before {
	transform:scale3d(1,1,1);
	background: var(--blue)
}
.site-nav-menu .site-nav-item>a {
	color: var(--text-secondary)
}
.site-nav-menu .site-nav-item a {
	display:block;
	padding:0;
	white-space:nowrap;
	text-decoration:none
}
.site-nav-menu .site-nav-item a:focus,
.site-nav-menu .site-nav-item a:hover {
 color: var(--blue)
}
.site-nav-menu .site-nav-item a:focus::before,
.site-nav-menu .site-nav-item a:hover::before {
 background: var(--blue)
}
.site-nav-menu .site-nav-item>a::before {
  content:'';
  position:absolute;
  bottom:-4px;
  left:0;
  width:95%;
  margin-left:5%;
  height:2px;
  background: var(--blue);
  transform:scale3d(0,1,1);
  transition:transform .2s
 }
.site-nav-menu .site-nav-item>a:hover::before {
  transform:scale3d(1,1,1)
 }
/*--- END SiteMenu setup ---*/
/*--- SubMenu setup ---*/
.inner-nav-menu {
	display: flex;
	flex-wrap:nowrap;
	flex: 1;
	align-items:center;
	flex-direction: row;
	padding:5px;
}
.inner-nav-menu>li:not(:last-child) {
	margin-right:15px
}
.inner-nav-menu li {
	list-style: none;
}
.inner-nav-menu .inner-nav-item {
	position:relative;
	display:block;
	text-align:center
}
.inner-nav-menu .inner-nav-item.active>a::before {
	transform:scale3d(1,1,1);
	background: var(--blue)
}
.inner-nav-menu .inner-nav-item>a {
	color: var(--text-secondary)
}
.inner-nav-menu .inner-nav-item a {
	display:block;
	padding:0;
	white-space:nowrap;
	text-decoration:none
}
.inner-nav-menu .inner-nav-item a:focus,
.inner-nav-menu .inner-nav-item a:hover {
 color: var(--blue)
}
.inner-nav-menu .inner-nav-item a:focus::before,
.inner-nav-menu .inner-nav-item a:hover::before {
 background: var(--blue)
}
.inner-nav-menu .inner-nav-item>a::before {
  content:'';
  position:absolute;
  bottom:-4px;
  left:0;
  width:95%;
  margin-left:5%;
  height:2px;
  background: var(--blue);
  transform:scale3d(0,1,1);
  transition:transform .2s
 }
.inner-nav-menu .inner-nav-item>a:hover::before {
  transform:scale3d(1,1,1)
 }
.inner-nav-menu .current-page>a {
	color: var(--blue-light)
}
.inner-nav-menu .current-page a:focus,
.inner-nav-menu .current-page a:hover {
 color: var(--blue-light)
}
.inner-nav-menu .current-page a:focus::before,
.inner-nav-menu .current-page a:hover::before {
 background: var(--blue-light)
}
/*--- END SubMenu setup ---*/
/*--- sub-SubMenu setup ---*/
.sub-inner-nav-menu {
	display: flex;
	flex-wrap:nowrap;
	flex: 1;
	align-items:center;
	flex-direction: row;
	justify-content: center;
	padding:5px;
}
.sub-inner-nav-menu>li:not(:last-child) {
	margin-right:15px
}
.sub-inner-nav-menu li {
	list-style: none;
}
.sub-inner-nav-menu .sub-inner-nav-item {
	position:relative;
	display:block;
	text-align:center
}
.sub-inner-nav-menu .sub-inner-nav-item.active>a::before {
	transform:scale3d(1,1,1);
	background: var(--blue)
}
.sub-inner-nav-menu .sub-inner-nav-item>a {
	color: var(--text-secondary);
}
.sub-inner-nav-menu .sub-inner-nav-item a {
	display:block;
	padding:0;
	white-space:nowrap;
	text-decoration:none
}
.sub-inner-nav-menu .sub-inner-nav-item a:focus,
.sub-inner-nav-menu .sub-inner-nav-item a:hover {
 color: var(--blue)
}
.sub-inner-nav-menu .sub-inner-nav-item a:focus::before,
.sub-inner-nav-menu .sub-inner-nav-item a:hover::before {
 background: var(--blue)
}
.sub-inner-nav-menu .sub-inner-nav-item>a::before {
  content:'';
  position:absolute;
  bottom:-4px;
  left:0;
  width:95%;
  margin-left:5%;
  height:2px;
  background: var(--blue);
  transform:scale3d(0,1,1);
  transition:transform .2s
 }
.sub-inner-nav-menu .sub-inner-nav-item>a:hover::before {
  transform:scale3d(1,1,1)
}
.sub-inner-nav-menu .current-page>a {
  color: var(--blue-light)
}
.sub-inner-nav-menu .current-page a:focus,
.sub-inner-nav-menu .current-page a:hover {
 color: var(--blue-light)
}
.sub-inner-nav-menu .current-page a:focus::before,
.sub-inner-nav-menu .current-page a:hover::before {
 background: var(--blue-light)
}
/*--- END sub-SubMenu setup ---*/
.PageContent {
	display: flex;
	flex-direction: column;
}
.PageTitle {
	width: 100%;
	border-radius:10px;
	border: 1px solid var(--blue);
	background-color: var(--blue-light);
	color: #ffffff;
	text-align:center;
}
/*--- Articles ---*/
.Article {
	width:100%;
	margin:25px;
	border: 2px solid var(--blue);
}
.ArticleHeader {
	padding: 5px 15px;
	color:#ffffff;
	width:100%;
	height: 30px;
	background-color: var(--blue);
	display: flex;
	flex-direction: row;
	align-items:center;
}
.ArticleHeader a {
    color:#ffffff;
}
.ArticleContent {
	padding: 5px 15px;
	color: var(--text);
	width:100%;
	font-size:110%;
	min-height: 100px;
	background-color: var(--bg-surface);
}
.ArticleFooter {
	padding: 5px 15px;
	width:100%;
	height: 30px;
	border: 0;
	border-top: 1px solid var(--blue);
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-between;
}
/* Registration */
.registration {
	font-size:110%;
}

.registration h2{
	text-align: center;
	padding: 5px;
}

.registration form{
	text-align: center;
	padding: 5px;
}
.registration table{
	text-align: left;
	padding: 5px;
}

.rhelp{
	font-size: 80%;
}

/* Chart.js */
@keyframes chartjs-render-animation{
	from{opacity:.99}to{opacity:1}
}
.chartjs-render-monitor{
	animation:chartjs-render-animation 1ms
}
.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{
	position:absolute;
	direction:ltr;
	left:0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1
}
.chartjs-size-monitor-expand>div{
	position:absolute;
	width:1000000px;
	height:1000000px;
	left:0;
	top:0
}
.chartjs-size-monitor-shrink>div{
	position:absolute;
	width:200%;
	height:200%;
	left:0;
	top:0
}

/* Chart container */
#line-chart {
	display: block;
	width: 100%;
}
.graph_container {
	width:100%;
}

/* Graph controls */
.graphpilot {
	margin: 1em;
	border:0;
	border-radius: 2em;
	background-color: var(--bg-elevated);
	color: var(--text);
	padding: 1em;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	width: 100%;
}
.graphpilot span {
    margin: 0.1em;
}

.graphpilot select:hover {
  opacity: 1;
}
.graphpilot select {
	padding: 0.1em;
  border: none;
  border-radius: .2em;
  background-color: var(--bg-surface);
  color: var(--text);
  text-align:center;
  opacity: .8;
}
.graphpilot input[type=range]:hover {
	opacity: 1;
}
.graphpilot input[type=range] {
	-webkit-appearance: none;
  padding: 0;
  font: inherit;
  outline: none;
  color: var(--blue);
  opacity: .8;
  background: var(--bg-surface);
  box-sizing: border-box;
  transition: opacity .2s;
  cursor: pointer;
  width: 15em;
	height: 1em;
	margin: 0;
}

.intbl {
    margin: 0.5em;
    text-align: left;
}

.graphsub{
  width: max-content;
  top: 25%;
  position: relative;
}

/* Summary */

.sumarycontainer{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  width: 100%;
}
.sumary{
	margin: 1%;
	border-radius: 1.3vw;
	width: 48%;
	background: var(--bg-surface);
	padding: 2%;
}
.sumarycontainer h2 {
	font-size: 2.5em;
	text-align:center;
	margin-bottom: .5em;
}

.tend {
    font-size:5em;
}

.sumtext{
    font-size: 4em;
}

.repporttext{
    font-size: 1.5em;
    margin-top: 0.5em;
}

.tred{
    color: red;
}
.tgreen{
    color: green;
}
.tblue{
    color: blue;
}
.torange{
    color: #FF7755;
}
.tlightblue{
    color: #4466FF;
}

/* Sysadmin */

.MachineList {
    margin-top: .5em;
    background: var(--bg-surface);
    border-radius: 1.3vw;
    padding: 1%;
}
.MachineList table{
    padding: 1%;
    border-collapse: collapse;
}
.MachineList td, .MachineList th{
    padding: 0.1vw .5vw;
}

.bottom-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
    padding: 1.7em;
    padding-bottom:4.7rem;
}

/* Comments */
.Comments {
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--bg-surface);
    display: flex;
    flex-flow: column nowrap;
}
.comment::before {
    position: relative;
    content:"";
    height: 2px;
    left:5%;
    width:90%;
    background-color: var(--separator);
    display: inline-block;
}
.c_head {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.comment-subbing{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.comment-subbing form{
    min-width: 50%;
    max-width: 100%;
    padding: 1em;
    color: var(--text);
}
.markdownx{
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%
}
.markdownx textarea{
    width: 50%
}

.markdownx-preview{
    width:50%;
    margin: 1em;
    padding-left:1em;
    color: var(--text);
    background-color: var(--bg-surface);
    border-radius: 0.5em;
}

/* Buttons */
.comment-btn {
    background-color: var(--bg-surface);
    border-radius: 1em;
    padding: 0.5em 1.5em;
    color: var(--text);
    border: 0;
    margin: 0.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.comment-btn-small {
    width: max-content;
}
.comment-btn:hover {
    background-color: var(--bg-elevated);
    color: var(--blue-hover);
    transition: color .2s, background-color .2s;
}

/* Form elements */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="url"],
textarea,
select {
    background-color: var(--bg-surface);
    color: var(--text);
    border: 1px solid var(--border);
}
