
.Potager_container {
    display:flex;
    width: 100%;
    padding: 1em;
}


.Potager_Detail {
    display:flex;
    flex-flow: column;
    padding: 1em;
    width: 50%;
    background-color: #888;
    border-radius: 2em;
    margin-left: 1em;
}

.Potager_Detail_Title span {
    width: 32px;
    height: 32px;
    background-color: #444;
}
.Potager_Detail_Title span:hover {
    background-color: #444;
}

.Potager_Detail_Title {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Potager_Detail_Description {
    display:flex;
    padding: 1em;
    flex-direction: column;
    justify-content: left;
}

.Potager_map {
    width: 50%;
    padding-bottom: 66.66%; /* 16:9 */
    position: relative;
}

.potager {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    color: #007700;
    width:100%;
    height:100%;
}






.potager td {
    width: 4.34%;
    height: 3.125%;
}

.terre {
    color: #AAA;
    background-color: #886622;
}

.senti {
    color: #AAA;
    background-color: #668822;
}

.pti {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #AAA;
  mask-size: cover;
}
.pti:hover, .pti:focus{
  background-color: #FAA;
}

/* Legumes */
.pti-artichaut {
  mask: url(/media/www/potager/Artichaut.svg);
  mask-size: cover;
}
.pti-aubergine {
  mask: url(/media/www/potager/aubergine.svg);
  mask-size: cover;
}
.pti-carotte {
  mask: url(/media/www/potager/Carotte.svg);
  mask-size: cover;
}
.pti-courgette {
  mask: url(/media/www/potager/courgette.svg);
  mask-size: cover;
}
.pti-fenouil {
  mask: url(/media/www/potager/Fenouil.svg);
  mask-size: cover;
}
.pti-navet {
  mask: url(/media/www/potager/Navet.svg);
  mask-size: cover;
}
.pti-oignon {
  mask: url(/media/www/potager/oignon.svg);
  mask-size: cover;
}
.pti-panais {
  mask: url(/media/www/potager/Panais.svg);
  mask-size: cover;
}
.pti-piment {
  mask: url(/media/www/potager/Piment.svg);
  mask-size: cover;
}
.pti-poireau {
  mask: url(/media/www/potager/Poireau.svg);
  mask-size: cover;
}
.pti-poivron {
  mask: url(/media/www/potager/Poivron.svg);
  mask-size: cover;
}
.pti-radis {
  mask: url(/media/www/potager/Radis.svg);
  mask-size: cover;
}
.pti-tomate {
  mask: url(/media/www/potager/tomate.svg);
  mask-size: cover;
}

/* Aromatique */
.pti-aromatiques {
  mask: url(/media/www/potager/Aromatiques.svg);
  mask-size: cover;
}
