<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.app_name == 'dashboard' %} active{% endif %}" href="/">
                    <i class="bi bi-speedometer2 me-2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.app_name == 'devices' %} active{% endif %}" href="{% url 'devices:list' %}">
                    <i class="bi bi-pc-display me-2"></i> Appareils
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.app_name == 'network' %} active{% endif %}" href="{% url 'network:list' %}">
                    <i class="bi bi-diagram-3 me-2"></i> R&eacute;seaux
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.app_name == 'monitoring' %} active{% endif %}" href="{% url 'monitoring:dashboard' %}">
                    <i class="bi bi-activity me-2"></i> Monitoring
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.app_name == 'fleet' %} active{% endif %}" href="{% url 'fleet:index' %}">
                    <i class="bi bi-hdd-stack me-2"></i> Flotte
                </a>
            </li>
            {% if user.is_staff %}
            <li class="nav-item mt-3">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 text-muted text-uppercase">
                    <span>Administration</span>
                </h6>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'admin-panel' %} active{% endif %}" href="{% url 'core:admin-panel' %}">
                    <i class="bi bi-gear me-2"></i> Panneau admin
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
