{% extends "base.html" %}
    {%block additionnalhead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    {%endblock%}
    {% block content %}
        <div class="PageTitle">
            <ul class="sub-inner-nav-menu">
                {% for sp in subpages %}
                <li class="sub-inner-nav-item {% if subpage == sp.name %}current-page{% endif %}"><a href="{{ sp.url }}"><span class="icon"><i class="{{ sp.icon }}"></i></span><span>{{ sp.name }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        {% block MeteoContent %}
        {% endblock %}
    {% endblock %}
