{% load static template_extra %}
<html lang="fr">
<head>
    <title>{% block title %}Site de Lachouette{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index,follow">
    <meta name="author" content="Argawaen">
    <meta name="description" content="le contenu">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <meta name="keywords" content="FUCK!!">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- feuille de style -->
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <script src="{% static 'js/chartutils.js' %}"></script>
    {%block additionnalhead %}
    {%endblock%}
</head>
<body>
<header class="site-header"> <!-- conteneur global de l'entête -->
    <div class="upper-header" role="banner">
        <div class="site-title">
            <a href="/" title="super site"><img alt="Accueil" src="{% static 'img/test.png' %}" width="90" height="90"></a>
            <h3 class="noprint">La crypte de Lachouette</h3>
            <!-- class="site-title" --></div>
        <div class="site-topright">
            <div class="site-user">
                {% if user.is_authenticated %}
                <div class="site-user">
                    <p>{% if user.avatar.url != "" %}<img alt="" src="{{ user.avatar.url }}" width="30" height="30"> {% endif %}</p>
                    <p> {{ user.username }}</p>
                </div>
                <p>{#<a class="userbtn" href="{% url 'compte' %}">Settings</a>#}
                    <a class="userbtn" href="{% url 'logout' %}"><span class="icon"><i
                            class="mdi mdi-logout"></i></span><span>Sign out</span></a></p>
                {% else %}
                <p><a class="userbtn" href="{% url 'login' %}"><span class="icon"><i
                        class="mdi mdi-login"></i></span><span>Sign in</span></a>
                    <a class="userbtn" href="{% url 'signup' %}"><span class="icon"><i class="mdi mdi-account-plus"></i></span><span>Sign up</span></a>
                </p>
                {% endif %}
                <!-- class="site-user" --></div>
            <ul class="site-nav-menu">
                {% for sp in extpages %}
                    <li class="site-nav-item mdi {{ sp.icon }}"><a href="{{ sp.link }}">{{ sp.name }}</a></li>
                {% endfor %}
            </ul>
            <!-- class="site-topright" --></div>
        <!-- class="upper-header" --></div>
    <div class="lower-header">
        <nav class="inner-nav">
            {%block innernav %}
            <ul class="inner-nav-menu">
                {% for sp in pages %}
                <li class="inner-nav-item {% if page == sp.name %}current-page{% endif %}"><a href="{{ sp.url }}"><span class="icon"><i class="mdi {{ sp.icon }}"></i></span><span>{{ sp.name }}</span></a></li>
                {% endfor %}
            </ul>
            {% endblock %}
        </nav>
        <!-- class="lower-header" --></div>
    <!-- class="site-header" --></header>
<div class="PageCenter"> <!-- conteneur global du contenu du site -->
    <div class="PageContent">
        {% block content %}
            <div class="PageTitle">
                {{ page_subtitle }}
                <ul class="sub-inner-nav-menu">
                    {% for sp in subpages %}
                    <li class="sub-inner-nav-item {% if subpage == sp.name %}current-page{% endif %}"><a href="{{ sp.url }}"><span class="icon"><i class="mdi {{ sp.icon }}"></i></span><span>{{ sp.name }}</span></a></li>
                    {% endfor %}
                </ul>
            </div>
            {% block InnerContent %}
            <p>Empty</p>
            {% endblock %}
        {% endblock %}
        <!-- class="PageContent" --></div>
    <!-- class="PageCenter" --></div>
<footer class="site-footer"> <!-- conteneur global du pied de page -->
    <div class="FooterContent">
        <p style="font-size:12px">&copy; Design by Argawaen, all rights reserved. The site design, the logo are
            trademarks and/or registered trademarks of Argawaen.</p>
        <!-- class="FooterContent" --></div>
    <!-- class="site-footer" --></footer>
</body>
</html>
