{% extends "base.html" %}
{% block content %}
<div class="PageTitle">
	{% block content_title %}PageTitle{% endblock %}
</div>
{% for article in derniers_articles %}
<div class="Article">
	<div class="ArticleHeader">
		{% if article.sous_categorie.image.url != "" %}
		<div class="ArticleIcon">
			<img src="{{ article.sous_categorie.image.url}}" alt="{{ article.sous_categorie.nom}}" height="25" width="25">
		</div>
		{% endif %}
		<div class="ArticleTitle">{{ article.titre}}</div>
	</div>
	<div class="ArticleContent">
		{{ article.contenu|safe }}
	</div>
	<div class="ArticleFooter">
		<div class="ArticleAuthor">{{ article.auteur }}</div>
		<div class="ArticleDate">{{ article.date }}</div>
	</div>
</div>
{% empty %}
<p>Empty</p>
{% endfor %}
{% endblock %}
