{% extends "base.html" %}
{% block InnerContent %}
<div class="MachineList">
     <table>
         <thead><tr><th>Name</th><th>IP</th><th>MAC</th><th>external</th><th>Duration</th><th>status</th></tr></thead>
         <tbody>
            {% for machine in data.machines %}
            <tr><td>{{machine.name}}</td><td>{{machine.ip}}</td><td>{{machine.mac}}</td><td>{{machine.external}}</td><td>{{machine.duration}}</td><td>{{machine.status}}</td></tr>
            {% endfor %}
         </tbody>
    </table>
</div>
{% endblock %}