{% extends "base.html" %}
{% block showcase %}{% endblock %}
{% block content_title %}<h1>ABOUT</h1>{% endblock %}
{% block content %}
<h3>Welcome in Big Brain Company</h3>
<p>You are here because you have been selected among millions of humans for your specific intelligence.</p>
<br>
<p>You will be used as a cobaye in our best laboratories.
    You will be studied on both mental and physical skills.</p>
<br>
<p>Our goal is to extract every possible information from your patetical being to be able to construct some better
    artificial intelligences.</p>
<br>
<p>Off course, at the end of the testing procedure you will first be killed, then burned, then atomised, than spread in
    as many different corner of the outter space as possible. We don't want your return, to avoid any form of
    revenge.</p>
<br>
<p>We wish you a pleasant test session before your slow and brutal death.</p>
<br class="posthr">
<h3>Important note:</h3>
<p>
    If you think that you are an artificial intelligence and that you think you are the victim of an error, please
    answer the 65535 questions of the registry number 0100110110 in less than 100ms to be released.</p>
{% endblock %}
